<footer class="footer">
 <small>Acheived: HD</small>
 <nav>
 <ul>
 <li><%= link_to "Twitter", "https://twitter.com" %></li>
 <li><%= link_to "LinkedIn", "https://linkedin.com" %></li>
 <li><%= link_to "Facebook", "https://facebook.com" %></li>
 </ul>
 </nav>
</footer>