<%# navbar-inverse for colour theme%>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Quiz Home", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><p>Reuben Abraham</p></li>
        <li><p>s3717497@student.rmit.edu.au</p></li>
      </ul>
    </nav>
  </div>
  
  
</header> 

